@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-secondary {
        --color-button: 255, 255, 255;
        --color-button-text: 255, 255, 255;
        --alpha-button-background: 0;
        --buttons-border-width: 1px;

        @apply text-white text-2xl md:text-3xl flex items-center border-2 px-12 py-8 rounded-full font-semibold text-center justify-center tracking-[2px];
        background-color: rgba(var(--color-button), var(--alpha-button-background));
        min-width: calc(12rem + var(--buttons-border-width) * 2);
        min-height: calc(4.5rem + var(--buttons-border-width) * 2);
    }
}

@layer base {
    :root {
        --page-width: 160rem;
    }
    html {
        font-size: 10px;
    }

    /*
    * Headings
    */
    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply font-sans font-black;
        letter-spacing: 0.6px;
        line-height: calc(1 + 0.3 / 1);
        word-break: break-word;
    }

    h1 {
        @apply text-2xl md:text-3xl;
    }

    h2 {
        @apply text-6xl md:text-8xl;
    }

    /*
    * Fonts
    */

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-ExtraBold.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-ExtraBold.woff") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-ExtraLight.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-ExtraLight.woff") format("woff");
        font-weight: 200;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-ExtraLightItalic.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-ExtraLightItalic.woff") format("woff");
        font-weight: 200;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-BlackItalic.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-BlackItalic.woff") format("woff");
        font-weight: 900;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-LightItalic.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-LightItalic.woff") format("woff");
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-Bold.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-Bold.woff") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-BoldItalic.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-BoldItalic.woff") format("woff");
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-Black.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-Black.woff") format("woff");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-Italic.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-Italic.woff") format("woff");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-ExtraBoldItalic.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-ExtraBoldItalic.woff") format("woff");
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-Light.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-Light.woff") format("woff");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-ThinItalic.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-ThinItalic.woff") format("woff");
        font-weight: 100;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-Thin.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-Thin.woff") format("woff");
        font-weight: 100;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-SemiBoldItalic.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-SemiBoldItalic.woff") format("woff");
        font-weight: 600;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-SemiBold.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-SemiBold.woff") format("woff");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-Medium.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-Medium.woff") format("woff");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-MediumItalic.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-MediumItalic.woff") format("woff");
        font-weight: 500;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Work Sans";
        src: url("/fonts/WorkSans/WorkSans-Regular.woff2") format("woff2"),
            url("/fonts/WorkSans/WorkSans-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}
