---
import BaseLayout from "../layouts/BaseLayout.astro";
import Banner from "../components/Banner.astro";
import "../styles/base.css";

import { type PageMetadata } from "../types";

const metadata: PageMetadata = {
    title: "Homepage",
};
---

<BaseLayout meta={metadata}>
    <main>
        <section>
            <Banner />
        </section>
    </main>
</BaseLayout>
