---
import { Image } from "astro:assets";
---

<div class="min-h-[72rem] flex flex-row flex-wrap relative md:items-end">
    <div class="h-full w-full absolute left-0 top-0">
        <Image
            class="card-image"
            src="https://matizbcn.com/cdn/shop/files/02-6500-120x120-ALEX-VOINEA.jpg"
            alt="Alex Voinea Acrylic painting art matiz gallery shipping worldwide"
            inferSize
        />
    </div>
    <div
        class="min-h-[39rem] p-0 md:px-20 md:py-16 flex md:block relative w-full items-center justify-center z-20 flex-col md:max-w-5xl -top-2"
    >
        <div class="bg-transparent py-10 px-9 text-center md:text-left h-fit w-full items-center break-all z-10">
            <h2 class="text-white">Ft artwork: Alex Voinea</h2>
        </div>
        <div class="flex flex-wrap">
            <a class="btn-secondary" href="/download">more</a>
        </div>
    </div>
</div>
