---
import "../styles/base.css";
import { type PageMetadata } from "../types";
import Navigation from "../components/Navigation.astro";
interface Props {
    meta: PageMetadata;
}

const { meta } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{meta.title}</title>
    </head>
    <body>
        <Navigation />
        <slot />

        <!-- Ionic Icons -->
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
